.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  color: #CC1800;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #6e07dd;
  color: white;
}
#footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: gray;
  color: white;
}
#title {
   font-size: 300%;
   text-align:center;
   color:#DAF7A6;
}
#quote{
  text-align: center;
  color: #DAF7A6;
}
body{
  background-image:url("Background1.jpeg");
}